apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "arch-qbittorrentvpn.fullname" . }}
  labels:
    {{- include "arch-qbittorrentvpn.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "arch-qbittorrentvpn.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "arch-qbittorrentvpn.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "arch-qbittorrentvpn.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: VPN_ENABLED
            value: "no"
          - name: PUID
            value: "1000"
          - name: GUID
            value: "1000"
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - mountPath: /data
              name: data
            - mountPath: /config
              name: config
      initContainers:
        - name: config
          image: busybox
          securityContext:
            runAsUser: 1000 # Find a better way to preserve file ownership of config.xml.
            runAsGroup: 1000
          command:
            - /bin/sh
            - -c
            - |
              if ! [ -e "/config/qBittorrent/config/qBittorrent.conf" ] ; then
                  echo "No /config/qBittorrent/config/qBittorrent.conf found, creating minimal config."
                  ls -la /config
                  mkdir --help
                  mkdir -p /config/qBittorrent/config
                  cat <<EOF >/config/qBittorrent/config/qBittorrent.conf
              [BitTorrent]
              Session\DefaultSavePath=/data/Downloads

              [Preferences]
              WebUI\AuthSubnetWhitelistEnabled=true
              WebUI\AuthSubnetWhitelist=0.0.0.0/0
              EOF
              fi
          volumeMounts:
            - mountPath: /config
              name: config
      volumes:
        {{- if eq .Values.storage.data.type "hostPath" }}
        - name: data
          hostPath:
            path: {{ required "You need to set a path to the data directory! storage.data.path" .Values.storage.data.path }} # directory location on host
            type: Directory # this field is optional
        {{- else }}
          {{ fail "A valid .Values.storage.data.type needs to be set!"}}
        {{- end }}
        {{- if eq .Values.storage.config.type "hostPath" }}
        - name: config
          hostPath:
            path: {{ required "You need to set a path to the config directory! storage.config.path" .Values.storage.config.path }} # directory location on host
            type: Directory # this field is optional
        {{- else }}
          {{ fail "A valid .Values.storage.config.type needs to be set!"}}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
